.card {
 position: relative;
 display: block;
 background-color: transparent;
 margin-top: 12px;
 margin-left: 11px;
 -webkit-tap-highlight-color: transparent;
 transition: 0.5s;
 transform: translateY(5px);
 width: max-content;
 height: max-content;
}

.skeleton {
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 width: 145px;
 height: 200px;
}

.collections {
 max-width: 1000px;
 height: max-content;
 display: grid;
 justify-content: center;
}

.h2 {
 position: relative;
}

.product {
 height: 100%;
 list-style: none;
}

.product p {
  width: max-content;
}

.card img {
 opacity: 35%;
 height: 100%;
 border-radius: 10px;
}

.card p {
 position: absolute;
 z-index: 1;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-family: var(--inkfree);
 font-size: 1.2rem;
}

.slide {
 height: 100%;
 display: inline-flex;
 overflow: hidden;
 justify-content: center;
 position: relative;
}

.wrapper {
 height: 102%;
 overflow: hidden;
}

.card {
 list-style: none;
}

.card img {
 object-fit: cover;
}

.wrapper ul li:last-child a {
 margin-right: 11px;
}

@media (min-width: 405px) {
 .card img {
  width: 180px;
 }

 .card p {
  font-size: 1.5rem;
 }
}

@media (min-width: 950px) {
 .card img {
  width: 264px;
  height: 370px;
  left: 8px;
 }

 .wrapper ul li:last-child a {
  margin-right: 0px;
 }
 .wrapper ul li:first-child a {
  margin-left: 0px;
 }

 .card p {
  font-size: 2rem;
 }

 .h2 {
  margin-left: 0px;
  font-size: 1.5rem;
 }

 .h2::after {
  width: 18px;
 }
}
