.filter {
 transition: 0.5s;
 flex-direction: column;
 justify-content: center;
 position: fixed;
 z-index: 999;
 width: 300px;
 background-color: #19191df7;
 top: 50%;
 padding: 30px;
 left: 50%;
 transform: translate(-50%, -35%);
 border-radius: 10px;
 opacity: 0;
 display: none;
}

.active {
 transform: translate(-50%, -50%);
 opacity: 1;
}

.filter label {
 color: #dbdbdb;
 font-size: 0.9rem;
 font-family: var(--interSemiBold);
 margin-top: 15px;
}

.submit {
 margin-top: 28px;
 color: white;
 text-decoration: none;
 font-size: 0.9rem;
 background: transparent;
 border: 1px solid #969696;
 padding: 10px;
 font-family: 'inter-Regular';
 border-radius: 5px;
 text-align: center;
 grid-column: span 2;
}

.close {
 border-radius: 50px;
 width: 30px;
 height: 27px;
 border: none;
 position: absolute;
 right: -10px;
 top: -5px;
 background: #373737;
 color: white;
 border: 1px solid white;
 font-size: 1.1rem;
}

.filter select {
 background-color: #19191d;
 padding: 5px;
 border: 1px solid #969696;
 border-radius: 5px;
 outline: none;
 color: white;
}

.filter input {
 background-color: #19191d;
 padding: 5px;
 border: 1px solid #969696;
 border-radius: 5px;
 outline: none;
 color: white;
}

.filterClothing {
 color: #dbdbdb;
 font-size: 1.3rem;
 font-family: var(--interSemiBold);
}

.error {
 font-size: 0.9rem;
 font-family: var(--interSemiBold);
 margin-top: 9px;
 color: #ec5656;
}

.filter select,
.filter input {
 margin-top: 8px;
}

.gender input {
 margin-left: 5px;
 position: relative;
 top: 1px;
 cursor: pointer;
 background-color: transparent;
}

.f {
 margin-left: 5px;
}

.filterButton {
 width: 150px;
 justify-self: end;
 font-size: 0.9rem;
 background: transparent;
 border: 1px solid #969696;
 height: 32px;
 border-radius: 5px;
 text-align: center;
 color: #e4e4e4;
 margin-top: 15px;
 font-family: var(--interSemiBold);
}

@media (min-width: 660px) {
 .filterButton {
  margin-left: 14px;
  position: absolute;
  top: -48px;
 }
}

@media (hover: hover) {
 .submit:hover,
 .filter select:hover,
 .close:hover,
 .filterButton:hover {
  cursor: pointer;
  background-color: var(--btnHover);
 }
}

.submit:active,
.filter select:active,
.close:active,
.filterButton:active {
 cursor: pointer;
 background-color: var(--btnClicked);
}
