.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu {
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 16px;
  background: transparent;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  height: 16px;
  width: 20px;
}

.menu span, .menu span::after, .menu span::before {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  width: 21px;
}

.menu span::after {
  position: relative;
  top: 4px;
}

.menu span::before {
  position: relative;
  bottom: 6px;
}

