.form {
  display: grid;
  margin-left: 12px;
}

.label {
  margin-top: 15px;
  color: #c8c8c8;
  font-family: var(--interSemiBold);
  font-size: .9rem;
}

.form input {
  padding: 10px 0px;
  padding-left: 8px;
  width: 262px;
  outline: none;
  border: none;
  margin-top: 5px;
  font-family: var(--interSemiBold);
  color: #c8c8c8;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 1px solid white;
}

.textarea {
  padding: 10px;
  font-size: .9rem;
  background: transparent;
  border: 1px solid #969696;
  height: 32px;
  border-radius: 5px;
  color: #e4e4e4;
  margin-top: 15px;
  font-family: var(--interSemiBold);
  width: 264px;
  height: 180px;
  resize: none;
}

.values {
  margin-top: 8px;
  margin-left: 12px;
}

.field,.value {
  margin-top: 15px;
  color: #c8c8c8;
  font-family: var(--interSemiBold);
  font-size: .9rem;
  display: inline;
  word-break: break-all;
}

.field {
  color: white;
}

.error {
  margin-top: 10px;
  font-size: 0.9rem;
  font-family: 'inter-SemiBold';
  color: #ec5656;
  width: 250px;
}

.displayNone {
  display: none !important;
}

.form select {
  width: 200px;
  height: 28px;
  border-radius: 5px;
  background-color: #19191d;
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  border: none;
  border: 2px solid #ACACAC;
  color: white;
  margin-top: 10px;
}

.button {
  font-size: .9rem;
  background: transparent;
  border: 1px solid #969696;
  height: 38px;
  border-radius: 5px;
  text-align: center;
  color: #e4e4e4;
  margin-top: 15px;
  font-family: var(--interSemiBold);
  width: 264px;
  justify-self: center;
}

@media (min-width: 370px) {
  .button,.form input,.textarea,.error {
    width: 310px;
  }
}

@media (min-width: 475px) {
  .button,.form input,.textarea,.error {
    width: 358px;
  }
}

@media (min-width: 580px) {
  .button,.form input,.textarea,.error {
    width: 368px;
  }
}

@media (hover: hover) { 
  .button:hover {
    cursor: pointer;
    background-color: var(--btnHover);
  }
}

.button:active {
  cursor: pointer;
  background-color: var(--btnClicked);
}