.more,.less {
  color: white;
  background-color: transparent;
  width: 26px;
  height: 24px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #ACACAC;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.more::after,.less::after {
  content: "";
  display: block;
  background-color: white;
  width: 10px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.more::before {
  content: "";
  display: block;
  background-color: white;
  width: 10px;
  height: 2px;
  position: absolute;
  left: 27%;
  top: 46%;
  transform: rotate(88deg);
}


.count {
  display: inline;
  position: relative;
  top: -5px;
  padding: 0px 5px;
  color: white;
  font-family: var(--interRegular);
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  .more,.less {
    width: 28px;
    height: 26px;
  }

  .more::before {
    left: 29%;
  }
}
@media (min-width: 400px) {
  .counter {
    font-size: 1rem;
  }
}

@media (hover: hover) {
  .more:hover,.less:hover {
    cursor: pointer;
    background-color: var(--btnHover);
  }
}

.more:active,.less:active {
  background-color: var(--btnClicked);
}