.recaptcha {
 margin-top: 18px;
 transform: scale(0.8);
 transform-origin: 0 0;
 width: 180px;
}

@media (min-width: 360px) {
 .recaptcha {
  transform-origin: initial;
  transform: scale(0.9);
  transform-origin: 0 0;
  width: initial;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 4px;
 }
}
