.span {
 width: 250px;
 position: relative;
}

.visibility {
 border: none;
 position: absolute;
 right: 10px;
 bottom: 36px;
 background-color: transparent;
 z-index: 3;
}

.visibilityOff {
 bottom: 32px !important;
}

@media (min-width: 360px) {
 .span {
  width: 300px;
 }
}

@media (min-width: 540px) {
 .span {
  width: 370px;
 }
}

@media (min-width: 1000px) {
 .span {
  width: 450px;
 }
}
