* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'inter-SemiBold';
  src: url('/font/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'inkfree';
  src: url('/font/Inkfree.ttf') format('truetype')
}

:root {
  --background: #101010;
  --interSemiBold: 'inter-SemiBold';
  --inkfree: 'inkfree';
}

body {
  background-color: var(--background);
}

h2 {
  color: white;
  font-size: 1rem;
  font-family: var(--interSemiBold);
  margin-top: 14px;
  pointer-events: none;
  margin-left: 11px;
}

h2::after {
  content: "";
  display: block;
  background-color: white;
  width: 11px;
  height: 1px;
}