.main {
  width: 100%;
  display: grid;
  justify-content: center;
}

.opacity {
  opacity: .1;
  pointer-events: none;
}

.button {
  font-size: .9rem;
  background: transparent;
  border: 1px solid #969696;
  height: 38px;
  border-radius: 5px;
  text-align: center;
  color: #e4e4e4;
  margin-top: 15px;
  font-family: var(--interSemiBold);
  width: 258px;
  justify-self: center;
  margin-bottom: 20px;
}

.error {
  margin-top: 10px;
  font-size: 0.9rem;
  font-family: 'inter-SemiBold';
  color: #ec5656;
  width: 276px;
  margin-left: 12px;
}